* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: var(--tg-them-bg-color);
  color: var(--tg-them-text-color); */
  background-color: var(white);
  color: var(black);
}